<div class="sidebar">
    <a href="/"><i class="fas fa-home"></i>Home</a>
    <a href="/health_check"><i class="fas fa-heartbeat"></i>Health Check</a>
    <a href="/emotion"><i class="fas fa-smile"></i>Emotion Recognition</a>
    <a href="/journal"><i class="fas fa-smile"></i>Journal</a>
    <a href="/safety_alert"><i class="fas fa-exclamation-triangle"></i>Safety Alerts</a>
    <a href="/physical-interaction"><i class="fas fa-hands-helping"></i>Physical Interaction</a>
    <a href="/medication"><i class="fas fa-pills"></i>Medication Reminder</a>
    <a href="/character-customization"><i class="fas fa-user-cog"></i>Customize Your Character</a>
    <a href="/wellness-rewards"><i class="fas fa-trophy"></i>Wellness Rewards</a>
</div>